<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Edit Kost</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
</head>

<body>
    <%- include('./header.ejs') %>

    <div class="container">
        <form action="/dashboard/edit/<%= kost.id %>" method="POST">
            <div class="form-group">
                <label for="name">Nama Kost</label>
                <input type="name" class="form-control" name="name" value="<%= kost.name %>" required>
            </div>
            <div class="form-row">
                <div class="col">
                    <label for="alamat">Alamat</label>
                    <select class="custom-select" name="alamat" required>
                        <option value="<%= locations[0].id %>" selected><%= locations[0].name %></option>
                        <% for(let i = 1 ; i < locations.length ; i++){ %>
                            <option value="<%= locations[i].id %>"><%= locations[i].name %></option>
                        <% } %>
                    </select>
                </div>
                <div class="col">
                    <label for="tipeKost">Tipe Kost</label>
                    <select class="custom-select" name="tipeKost" required>
                        <% let tipe = ['Campur','Putra','Putri'] %>
                        <% for(let i = 0 ; i < tipe.length ; i++) { %>
                            <% if(tipe[i] === kost.typeKost){ %>
                                <option value="<%= tipe[i] %>" selected><%= tipe[i] %></option>
                                <% delete(tipe[i]) %>
                            <% } %>
                        <% } %>
                        <% for(let i = 0 ; i < tipe.length ; i++) { %>
                            <% if(!tipe[i]){ %>

                            <% } else{ %>
                                <option value="<%= tipe[i] %>" ><%= tipe[i] %></option>
                                
                            <% } %>
                        <% } %>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="foto">Link foto</label>
                <input type="foto" class="form-control" name="foto" value="<%= kost.foto %>" required>
            </div>
            <button type="submit" class="btn btn-primary">Edit Kost</button>
        </form>
    </div>
</body>
<style>
    .header {
        background-color: #f1f1f1
    }
</style>

</html>