<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Edit Kamar Kost</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
</head>

<body>
    <%- include('./header.ejs') %>
    <center>
        <h1><b>Edit Kamar Kost</b></h1>
    </center>
    <div class="container">
        <form action="/dashboard/roomList/<%= idKost %>/edit/<%= idKamar %>" method="POST">
            <div class="form-group">
                <label for="description">Tentang Kamar</label>
                <input type="text" class="form-control" name="description" value="<%= kamar.description %>" required>
            </div>
            <div class="form-group">
                <label for="price">Harga (Rp) </label>
                <input type="number" class="form-control" name="price" value="<%= kamar.price %>" required>
            </div>
            <div class="form-group">
                <label for="photo">Link Foto</label>
                <input type="text" class="form-control" name="photo" value="<%= kamar.photo %>" required>
            </div>
            <button type="submit" class="btn btn-primary">Edit Kamar Kost</button>
        </form>
    </div>
</body>
<style>
    .header {
        background-color: #f1f1f1
    }
</style>

</html>